<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Noto+Sans+Thai:wght@100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
    <title>Document</title>
</head>
<body>
    <h1>Book Store</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Book name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Amount</th>
        </tr>
        <% data.forEach((i) => { %>
            <tr>
                <td><%= i.id %></td>
                <td><%= i.name %></td>
                <td><%= i.description %></td>
                <td><%= i.price %></td>
                <td><%= i.amount %></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>