<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Detail</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Noto+Sans+Thai:wght@100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <h1>User Detail</h1>
    <p class="d-flex flex-row">
    <p><strong>ID: </strong><%= data.id %></p>
    <p><strong>Name: </strong><%= data.first_name %></p>
    <p><strong>Last Name:</strong> <%= data.last_name %></p>
    <p><strong>Username:</strong> <%= data.username %></p>
    <p><strong>Email:</strong> <%= data.email %></p>
<a href="/">Back to Users List</a>
</div>
</body>
</html>